.App {
  background-color: #ddbea9;
}

.h2 {
  text-transform: uppercase;
}

.logout {
  display: flex;
  flex-wrap: flex-end;
  text-align: right;
}

.wrapper {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 50%;
  align-items: center;
  text-align: center;
}

.form-wrapper {
  align-items: center;
  display: center;
}

.names {
  padding-left: 2px;
  padding: 2px;
  padding-bottom: 10px;
}

.container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: #ddbea9;
  border-bottom: double 2px #a5a58d;
}

.submit {
  text-align: center;
}

.container2 {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffe8d6;
  border-bottom: solid 1px darkgray;
}

.about-container {
  background-color: #ffe8d6;
  padding: 2em;
  margin: 3em;
  border: 1px solid #ffe8d6;
  border-radius: 0.5em;
}

.about-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 30px;
}

.about-line {
  color: #ffe8d6;
}

.RBG-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 20px;
  padding-left: 3em;
  padding-right: 3em;
}

.about-container1 {
  background-color: #ffe8d6;
  padding: 3em;
  /* padding-bottom: 2em; */
  margin: 1em;
  border: 1px solid #ffe8d6;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.card {
  width: 22em;
  padding: 0.5em;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  justify-content: center;
}

.carousel {
  width: 25%;
}

.about-footer {
  background-color: #a5a58d;
}
