.App {
  background-color: #ddbea9;
  /* background-image: url(./assets/banner2.png);
  background-size: cover;
  width: 100%;
  height: auto; */
}

.h2 {
  text-transform: uppercase;
}

.navbar {
  background-color: #a5a58d;
}

.logout {
  display: flex;
  flex-wrap: flex-end;
  text-align: right;
}

.wrapper {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 50%;
  align-items: center;
  text-align: center;
}

.form-wrapper {
  align-items: center;
  display: center;
}

.vl {
  border-left: solid 2px gray;
}

.names {
  padding-left: 2px;
  padding: 4px;
}

.container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.submit {
  text-align: center;
}

.bannerLine {
  color: gray;
  border-top: dotted;
}

.login {
  background-color: #ffe8d6;
}
